doctype html 
html 
    head 
        title= "Hello Pug"
        
    body 
        h1.classsname#idname "Hello World"
        h2 welcome to pug
        p this is a paragraph
        p this is another paragraph 
        example for multiline paragraph

        div 
            WHen more text to be displayed then pipe operwufbwiebfiuwnvwhfuwuwdajsccnkajscsnoaussffjjasddjjdhaosoaousdsouadhahnndkfj9udhq08wjqkwlwndiuuhch98hjejncijibc9ujcklqwj0iqihfjk chqciyqw.
    